.card-img-top {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
}

.post-image-container {
    text-align: center; /* Center the image */
    margin-bottom: 20px; /* Add space below the image */
}
    
.post-image {
    width: 50%; /* Make image take up 100% of its container's width */
    max-width: 300px; /* Set a max-width for the image */
    object-fit: contain; /* Ensure the full image is visible */
}
